@if (!continue) {
<div class="content">
    <div class="popup text-start">
        <button class="exit" (click)="popup()">x</button>
        <p class="fw-bold text-end mb-2">sign up to continue</p>
        <label for="email">add your email</label>
        <input (input)="takeEmail($event)" id="email" class="form-control" type="email">
        @if(notAUser){
        <small>invalid email you can <span (click)="register()" class="text-primary">sign
                up</span></small>
        }
        <button (click)="setOrder()" class="w-100 bg-warning border border-pill mt-1">continue</button>
        <small class="terms">by continue you are accept our <span class="text-primary cursur-pointer">terms</span>
            and
            <span class="text-primary">policy</span></small>
        <p class="mt-2 signin">are you new client in store ? <span (click)="register()" class="text-primary">sign
                up</span></p>
    </div>
</div>
}
<div class="">
    @if(empty){
    <div class="empty text-center">
        <h2>have ( 0 ) items in cart</h2>
        <p class=" text-info p-1 fs-2 text-center">just click the image to start ordering <span></span></p>
        <a class="image"><img (click)="image()" src="./9e23d62dfa4ac060c8621109d1931229.jpg" alt=""></a>
    </div>

    }@else{
    <div class="d-felx">
        <h2>have ( {{cartProduct.length}} ) items in cart</h2>
        <div (click)="clear()" class="clear btn btn-danger">clear all</div>
    </div>
    <table>

        <thead>
            <tr>
                <th>image</th>
                <th>title</th>
                <th>amount</th>
                <th>total price</th>
            </tr>
        </thead>
        @for(item of cartProduct;track item;let index=$index){<tbody>
            <tr class="product">
                <td><img [src]="item.prod.image" alt=""></td>
                <td class="title text-primary">{{item.prod.title}}</td>
                <td>
                    <div class="count d-flex justify-content-center">
                        <span (click)="handlecount('plus',index)">+</span>
                        <input [(ngModel)]="item.amount" class=" text-center" type="text" name="" id="">
                        <span (click)="handlecount('minus',index)">-</span>
                    </div>
                </td>
                <td class="text-info">{{item.prod.price * item.amount}} EGP</td>
            </tr>
        </tbody>
        }
        <tfoot>
            <tr>
                <td class="text-primary" colspan=" 4">total price : {{totalPrice}} EGP</td>
                <!-- <td class="order text-white btn-success btn " colspan="3">order now!</td> -->
            </tr>
        </tfoot>
    </table>
    <button (click)="popup()" class="order">order now!</button>
    }
</div>