.container {
    text-align: center;
    position: relative;
}




.failed {
    border-color: rgb(234, 100, 100);
    display: block;
    width: 100%;
    display: block;
}

.fail span {
    cursor: pointer;
}

.terms span {
    cursor: pointer;
}

.popup .signin {
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.popup .signin span {
    cursor: pointer;
}
.invalid{
    cursor: pointer;
}
.clear {
    display: block;
    width: 100px;
    margin: 10px 0 10px auto;
}


.empty img {
    width: 400px;
    height: 350px;
    cursor: pointer;
}


table {
    width: 100%;
    border: 1px solid #eee;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

td img {
    width: 50px;
    height: 50px;
}

.count {
    position: relative;
    display: block;
}

.count input {
    border-radius: 30px;
    width: 100%;
    align-self: center;
}

.count span {
    padding: 10px;
    font-size: 20px;
    position: absolute;
    color: red;
    cursor: pointer;
    align-self: center;
}


.count span:first-child {
    left: 0;
}

.count span:last-child {
    right: 0;
}

.text-info {
    min-width: 80px;
}

.order {
    display: block;
    margin: 20px 0 0 auto;
    border: none;
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: orange;
    padding: 10px 20px;
    transition: 0.3s;
    border-radius: 10px;
    letter-spacing: 1px;
}

.order:hover {
    color: white;
    background-color: rgb(12, 242, 12);
}

@media(max-width:457px) {
    .popup {
        width: 250px;
    }

    .empty img {
        width: 250px;
        height: 200px;
    }

    .order {
        width: 150px;
        padding: 5px 10px;
        margin: 20px auto 0;
    }

    .title {
        font-size: 14px;
    }

    .text-info {
        font-size: 14px;
    }
}