<footer class="bg-dark text-white mb-0 d-flex justify-content-around align-items-center">
    <div class="social text-center">
        <h2>our store's social accounts</h2>
        <div class="d-flex justify-content-center gap-3 align-items-center">
            <i class="fa-brands fa-square-facebook face fa-2x"></i>
            <i class="fa-brands fa-twitter twitt fa-2x"></i>
            <i class="fa-brands fa-youtube you fa-2x"></i>
        </div>
        <p class="mb-0">our best products must go to <span class="fs-2 text-info">you</span></p>
    </div>
    <address>
        <p><i class="fa-solid fa-location-dot"></i>egypt , cairo, nasr city </p>
        <p><i class="fa-solid fa-clock me-1"></i>business time 24h </p>
        <p>
            <span class="d-block"><i class="fa-solid fa-phone-volume me-1"></i>01023966702</span>
            <span><i class="fa-solid fa-phone-volume me-1 "></i>0483627137</span>
        </p>
    </address>
</footer>
<div class="text-center bg-dark text-white p-2">
    <p class="mb-0">Copyright &copy; 2025 <span class="text-info">E-commerce</span> All rights reserved.</p>