.area{
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-top: 15px;
}
.cash input,
.visa input{
    appearance: none;
}
.cash,.visa{
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
    color: #415eee;
}
.dilev {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

table {
    border: 1px solid #eee;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.product img {
    width: 50px;
    height: 50px;
}

.close {
    padding: 4px 30px;
    width: fit-content;
    background-color: rgb(231, 91, 91);
    color: white;
    border-radius: 6px;
    margin: 0 0 0 auto;
    cursor: pointer;
    font-size: 20px;

}