.area{
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-top: 50px;
}
.cash input,
.visa input{
    appearance: none;
}
.cash,.visa{
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
    color: #415eee;
}
/* .box {
    width: 400px;
    margin: auto;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: beige
}

label {
    width: 150px;
}

.box .send {
    display: block;
    border: none;
    padding: 6px 30px;
    text-align: center;
    border-radius: 6px;
    margin: 0 0 0 auto;
} */

.dilev {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

table {
    border: 1px solid #eee;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.product img {
    width: 50px;
    height: 50px;
}

.close {
    padding: 4px 30px;
    width: fit-content;
    background-color: rgb(231, 91, 91);
    color: white;
    border-radius: 6px;
    margin: 0 0 0 auto;
    cursor: pointer;
    font-size: 20px;

}

/* @media (max-width:547px) {
    .box {
        width: fit-content;
    }

    .box label {
        font-size: 13px;
        width: 120px;
    }
} */